#root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: fit-content;
  }
  
  html{
    background-color: var(--background-color);
  }
  
  a{
    text-decoration: none;
  }
  
  ul{
    list-style: none;
  }
  
  
  
