* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
  
ul {
    list-style: none;
}

.sticky-header{
    background-color: var(--primary-color);
    width: 100%;
    height: 110px;
}

.upper-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.upper-nav-logo {
    padding-top: 10px;
    width: 150px;
}

.upper-nav-search-form {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: 0 50px;
}

.upper-nav-search-form input {
    flex-grow: 1;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
}

.upper-nav-search-form button {
    height: 44px;
    background: none;
    border: none;
    padding: 10px 15px;
    
}


.upper-nav-search-form button:hover {
    background-color: #f0f0f0;
}

.upper-nav-user-actions {
    display: flex;
    align-items: center;
}

.upper-nav-user-actions .upper-nav-item {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

.upper-nav-user-actions .upper-nav-item box-icon {
    margin-right: 5px;
}

.upper-nav-user-actions .upper-nav-item span {
    vertical-align: middle;
}

.lower-nav-menu {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
}

.lower-nav-menu li {
    margin: 0 15px;
    transition: all 0.3s ease-out;
}

.lower-nav-menu a {
    color: #ffffff;
    font-size: 16px;
    padding: 0 5px;
    font-weight: 600;
}

.lower-nav-menu li:hover {
    background-color: grey;
    border-radius: 5px;
}

.lower-nav-menu li:hover a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}

.nav-menu-link.active{
    color: var(--primary-color);
    background-color: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
}

.product-tag-container {
    list-style-type: none; 
    padding: 10px;
    margin: 110px 0;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    border-radius: 10px;
  }

  .product-tag-container a{
    width: 100%;
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
    font-size: 0.9rem;
  }
  
  .product-tag-container a:hover{
    color: var(--third-color);
    background-color: #f0f0f0;
    font-weight: 800;
  }

  .product-category-container{
    width: 120%;
    height: 230px;
    padding: 10px;
    border-radius: 10px;
    margin: 110px 185px;
  }

  .product-category-container a{
    width: fit-content;
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.1s ease-in-out;
    font-size: 0.9rem;
    font-weight: 800;
  }

  .product-category-container a:hover{
    color: var(--third-color);
    background-color: #f0f0f0;
    font-weight: 800;
  }
  