.custom-btn {
    padding: 5px 10px; /* Adjust padding for desired size */
    font-size: 16px;    /* Adjust font size */
    width: 100px;
  }
  .form-message {
    display: block;
    color: red; /* You can change the color */
    font-size: 12px; /* Adjust the font size as needed */
    margin-top: 4px; /* Adjust the spacing */
}
